.header {
  min-height: 5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
}

.logo {
  height: auto;
  width: 180px;
  flex-shrink: 0;

  img {
    height: 100%;
    width: 100%;
  }
}
