@import "../../style/base/mixin";
.footer {
  display: flex;
  flex-direction: column;

  &__copyright {
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
  }
}

.slogan {
  padding: 2rem;
  border-left: 1px solid #f5f5f7;
  border-right: 1px solid #f5f5f7;
}
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f7;
  height: 10rem;

  @include respond(phone) {
    flex-direction: column;
    justify-content: space-around;
    height: 20rem;
  }

  &__item {
    position: relative;
    text-align: center;
    line-height: 2.2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: rgb(73, 72, 72);
    width: 33%;

    span {
      display: block;
    }
  }
  &__item:nth-child(1)::before,
  &__item:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0.2rem, -50%);
    right: 0;
    height: 1.5rem;
    width: 0.2rem;
    background: #c0c0c2;
    @include respond(phone) {
      display: none;
    }
  }
}

.socials {
  &__inner {
    border-bottom: 1px solid #c0c0c2;
    display: flex;
    justify-content: center;
  }
  &__item {
    margin: 2rem;
    height: 3rem;
    width: 3rem;
    svg {
      height: 100%;
      width: 100%;
      fill: #676767;
    }
  }
}
